<script>
    let a = "Hello There H dkfjdjklf";
    document.write(a.toUpperCase() + "<br/>");
    document.write(a.toLowerCase() + "<br/>");
    document.write(a.search('H') + "<br/>");
    document.write(a.lastIndexOf('H'));
    let b = a.substring(6,11);
    document.write(b);
    document.write(a.length);
</script>